# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.mo
*.sqlite3
db.sqlite3

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Media & static files (you can adjust)
media/
staticfiles/

# Local envs
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
*.iml

# Test coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Profiling data
.prof

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code settings
.vscode/

# Pipenv
Pipfile.lock

# Other
*.swp